{% extends "layout.html" %}
{% block content %}
<h1 class="mx-auto">The Tech Portfolio</h1>
<hr>
{% for post in posts %}
  <p><a href="{{ url_for('post', post_id=post.id) }}">
      <img src="{{ url_for('static', filename='uploads/' + post.author_id|string + '/' + post.image_file) }}" class="img-fluid"></p>
      <div class="mx-auto"><h4> "{{ post.title }}"</a></h4></div>
      <div class="mx-auto"><p>by  <a href="{{ url_for('user', user_id = post.user.id) }}"
      >{{ post.user.username }}</a><span class="container"> <img
      src="{{ avatar }}"
      width="40"
      class="img-fluid rounded"
    /> </span></p></div>
    <p>{{ post.content }}</p>
    <hr>

{% endfor %}
{% endblock content %}
