{% extends "layout.html" %} {% block content %}
<div class="modal-container">
  {% if post.image_file == "default.jpg" %}
    <!-- <img
      id="modalImg"
      src="{{ url_for('static', filename='img/' + post.image_file) }}"
      style="max-width: 80vw"
      class="img-fluid"
    />   -->
  {% else %}
  <div class="mx-auto">
  <img
      id="modalImg"
      src="{{ url_for('static', filename= 'uploads/' + post.author_id|string + '/' + post.image_file) }}"
      style="max-width: 40vw"
      class="img-fluid object-fit-contain border rounded"
    />
  </div>
  {% endif %}
    <div id="modalID" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="imgID" />
      <div id="caption"></div>
    </div>
</div>
  
<h2 class="mx-auto">
  "{{ post.title }}" </h2>
  <div class="mx-auto">&nbsp Author: <a href="{{ url_for('user', user_id = post.user.id) }}">{{ post.user.username }}</a
  > &nbsp <img src="{{ author_avatar }}" width="50" class="img-fluid"></div>

<p>{{ post.content }}</p>


{% if current_user.is_authenticated %}
{% if current_user.id == post.author_id %}
<form action="{{ url_for('delete_post', post_id=post.id) }}">
  <input type="submit" class="btn btn-danger" value="Delete Post" />
</form>
{% endif %}
  {% endif %}
  <hr>
<h2>Comments ({{ post.comments|length }})</h2>
{% for comment in comments %}
<div class="border border-primary rounded">
  <p>
    <a href="{{ url_for('user', user_id = comment[0].author_id) }}"
      >{{ comment[0].user.username }}</a
    > &nbsp <img
    src="{{ comment[1] }}"
    width="50"
    class="img-fluid"
  />   <span class="container"> {{ comment[0].content }} </span>
  {% if current_user.is_authenticated %}
  {% if current_user.id == comment[0].author_id %}
  <a href="{{ url_for('delete_comment', comment_id=comment[0].id) }}" class="btn btn-link">Delete Comment</a>
  {% endif %}
  {% endif %}
</p>
  
<p title="{{ comment[0].date|time_print }}">{{ comment[0].date|time_print('comment_date') }}</p>
</div>
</br>
{% endfor %} {% if current_user.is_authenticated %}
<form method="POST" action="">
  {{ form.csrf_token }}
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      {{ form.content.label(class__='form-label') }}
      </div>
      <div class="col-auto">
        {{ form.content(class__='form-control') }}
      </div>
      <div class="col-auto">
        <input type="submit" class="btn btn-primary" value="Submit Comment" />
      </div>
  </div>
</form>
{% else %}
<p><a href="{{ url_for('login') }}">Sign in</a> to add a comment.</p>
{% endif %} 
<script src="{{ url_for('static', filename= 'modal-handler.js') }}"></script>
<!-- Remember this? XDDDD -->
<!-- My own work from the CMT119 assignment makes a guest appearance -->
{% endblock content %}

