{% extends "layout.html" %} {% block content %}
<!-- <img src="{{ url_for('static', filename='img/' + post.image_file) }}" /> -->
<p><a href="{{ url_for('post', post_id=post.id) }}">
  {% if post.image_file == "default.jpg" %}
    <img src="{{ url_for('static', filename='img/' + post.image_file) }}"></p>
  {% else %}
    <img src="{{ url_for('static', filename= 'uploads/' + post.author_id|string + '/' + post.image_file) }}" width="600"></p>
  {% endif %}
<p>
  "{{ post.title }}" &nbsp Author:
  <a href="{{ url_for('user', user_id = post.user.id) }}"
    >{{ post.user.username }}</a
  >
</p>
<!-- Put some media here -->
<p>{{ post.content }}</p>
<br />
<h2>Comments</h2>
{% for comment in comments %}
<div>
  <p>
    Comment by:
    <a href="{{ url_for('user', user_id = comment.author_id) }}"
      >{{ comment.author_id }}</a
    >
  </p>
  <p>{{ comment.content }}</p>
  <p>{{ comment.date }}</p>
</div>
</br>
{% endfor %} {% if current_user.is_authenticated %}
<form method="POST" action="">
  {{ form.csrf_token }}
  <p>{{ form.content.label }} {{ form.content }}</p>
  <p><input type="submit" value="Post Comment" /></p>
</form>
{% else %}
<p><a href="{{ url_for('login') }}">Sign in</a> to add a comment.</p>
{% endif %} {% endblock content %}
