{% extends "layout.html" %} {% block content %}
<img src="{{ url_for('static', filename='img/' + post.image_file) }}" />
<p>
  "{{ post.title }}" &nbsp Author:
  <a href="{{ url_for('user', user_id = post.user.id) }}"
    >{{ post.user.username }}</a
  >
</p>
<!-- Put some media here -->
<p>{{ post.content }}</p>
{% for comment in comments %}
<div>
  <p>
    Comment by:
    <a href="{{ url_for('user', user_id = comment.author_id) }}"
      >{{ comment.author_id }}</a
    >
  </p>
  <p>{{ comment.content }}</p>
  <p>{{ comment.date }}</p>
</div>
{% endfor %} {% endblock content %}
<!-- Put comments here -->
