{% extends "layout.html" %} {% block content %}
<form method="POST" action="">
  {{ form.csrf_token }}
  <div class="mb-3">
    {{ form.username.label(class_='form-label') }} {{
    form.username(class_='form-control') }}
  </div>
  <div class="mb-3">
    {{ form.password.label(class_='form-label') }} {{
    form.password(class_='form-control') }}
  </div>
  <div class="mb-3">
    {{ form.confirm_password.label(class_='form-label') }} {{
    form.confirm_password(class_='form-control') }}
  </div>
  <input type="submit" class="btn btn-primary" value="Register" />
  <div class="form-text">
    <a href="{{url_for('login')}}">Already have an account?</a>
  </div>
</form>
{% for error in form.username.errors %}
<span style="color: red">[{{ error }}]</span>
{% endfor %} {% endblock content %}
