{% extends "layout.html" %} {% block content %}
<div class="container-fluid"> 
<img
      src="{{ avatar }}"
      width="100"
      class="img-fluid"
    /> <h1>{{ user.username }} Profile</h1>
</div>
<p>Member since {{ user.creation_date|time_print('join_date') }}</p>
{% if posts|length == 0 %}
<h2>{{ user.username }} has not published any posts</h2>
{% else %}
<h2>Posts ({{ posts|length }})</h2>
{% endif %}
{% for post in posts %}
    <p><a href="{{ url_for('post', post_id=post.id) }}">
        {% if post.image_file == "default.jpg" %}
        <!-- <img src="{{ url_for('static', filename='img/' + post.image_file) }}"></p> -->
        {% else %}
        <div class="mx-auto">
            <img src="{{ url_for('static', filename= 'uploads/' + post.author_id|string + '/' + post.image_file) }}" width="700">
        </div>
        
        {% endif %}
    </p>
        <h4 class="mx-auto">  "{{ post.title }}"</a></h4>
        <p>{{ post.content }}</p>
        <p>Number of comments: {{ post.comments|length }}</p>
        <hr>
    {% endfor %}
<br>
{% if comments|length == 0 %}
<h2>{{ user.username }} has not posted any comments</h2>
{% else %}
<h2>Comments ({{ comments|length }})</h2>
{% endif %}
{% for comment in comments %}
    <p>  "{{ comment.content }}" on <a href="{{ url_for('post', post_id = comment.post_id) }}">{{ comment.post.title }}</a> - {{ comment.date|time_print('comment_date') }}</p>
{% endfor %}
{% endblock content %}
